name: angular_components
version: 0.9.0
description: >
  The official Material Design components for AngularDart. Used at Google in
  production apps.
homepage: https://webdev.dartlang.org/components
documentation: https://webdev.dartlang.org/api?package=angular_components
author: Dart Team <misc@dartlang.org>
environment:
  sdk: '>=2.0.0-dev.68.0 <3.0.0'
dependencies:
  angular: ^5.0.0
  angular_forms: ^2.0.0
  async: ^2.0.6
  build: '>=0.11.1 <0.13.0'
  build_config: '>=0.2.6 <0.4.0'
  built_collection: '>=1.6.0 <4.0.0'
  collection: ^1.14.10
  fixnum: ^0.10.5
  intl: '>=0.14.0 <0.16.0'
  js: ^0.6.1
  logging: ^0.11.2
  meta: ^1.0.4
  observable: ^0.22.1+3
  protobuf: ^0.9.0
  quiver: '>=0.24.0 <0.30.0'
  sass_builder: ^2.0.2

dev_dependencies:
  test: ^1.0.0
