<!DOCTYPE html>
<html dir="{{direction}}" lang="en-us">
<head>
  <meta charset="UTF-8">
  <title>Standalone Demo</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="syntax_highlight.scss.css" />
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto%20Naskh%20Arabic%20UI:400,700">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons+Extended">
  <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js">
    </script>
    <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dart.min.js">
    </script>
    <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/scss.min.js">
    </script>
</head>
<body dir="{{direction}}">
  <gallery-section></gallery-section>
  <script type="application/javascript" src="main.dart.js" defer></script>
</body>
</html>
