import 'dart:html';

import 'package:angular/angular.dart';
import 'package:logging/logging.dart';
import 'package:angular_components/material_datepicker/module.dart';
import 'package:angular_gallery/gallery/gallery_tokens.dart';

import 'package:{{{example_import}}}' as app;
import 'main.template.dart' as ng;

void main() {
  Logger.root.onRecord.listen((record) {
    var message = '${record.loggerName}: ${record.message}';
    if (record.error != null) message += '\n\nCaused by:\n\n${record.error}';
    if (record.stackTrace != null) message += '\n${record.stackTrace}';

    if (record.level == Level.SEVERE || record.level == Level.SHOUT) {
      window.console.error(message);
    } else if (record.level == Level.WARNING) {
      window.console.warn(message);
    } else if (record.level == Level.INFO || record.level == Level.CONFIG) {
      window.console.info(message);
    } else { // FINE, FINER, FINEST, ALL
      window.console.debug(message);
    }
  });

  runApp(app.GallerySectionNgFactory, createInjector: appInjectorFactory);
}

@GenerateInjector([
    datepickerBindings,
    FactoryProvider(ExceptionHandler, exceptionHandlerFactory),
    ValueProvider.forToken(bugUrl, 'https://github.com/dart-lang/angular_components/issues/new'),
    ValueProvider.forToken(sourcecodeUrl, 'https://github.com/dart-lang/angular_components/issues/new'),
])
final InjectorFactory appInjectorFactory = ng.appInjectorFactory$Injector;

ExceptionHandler exceptionHandlerFactory() => ExceptionHandler(Logger.root);
