html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  direction: {{direction}};
}

body {
  font-family: Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

body[dir="rtl"] {
  font-family: Noto Naskh Arabic UI, Roboto, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

