{{= | | =}}
<material-drawer persistent #drawer="drawer">
  <ng-container *deferredContent>
    <h1>
      <a href="#" class="galleryTitle">|galleryTitle|</a>
    </h1>
    <material-select-searchbox #searchbox
          autoFocus
          label="Search"
          [filterable]="exampleOptions">
    </material-select-searchbox>
    <material-list focusList>
      <div label *ngIf="searchbox.inputText.isNotEmpty">Search Results</div>
      <ng-container *ngFor="let exampleGroup of exampleOptions.optionGroups">
        <div group *ngIf="exampleGroup.isNotEmpty">
          <div label *ngIf="exampleGroup.uiDisplayName.isNotEmpty">
            {{exampleGroup.uiDisplayName}}
          </div>
          <material-list-item *ngFor="let example of exampleGroup"
                              focusItem
                              [routerLink]="example.link"
                              routerLinkActive="router-link-active">
            <highlight-value [value]="example"></highlight-value>
          </material-list-item>
        </div>
      </ng-container>
      <material-list-item *ngIf="exampleOptions.optionsList.isEmpty"
                          class="no-matches"
                          disabled>
        No matches.
      </material-list-item>
    </material-list>
  </ng-container>
</material-drawer>
<material-content>
  <div class="container">
    <header class="material-header shadow">
      <div class="material-header-row">
        <material-button icon
            class="material-drawer-button" (trigger)="drawer.toggle()">
          <material-icon icon="menu"></material-icon>
        </material-button>
        <span class="material-header-title" *ngIf="hasBreadcrumb">
          {{ breadcrumb }}
        </span>
      </div>
      <div class="key-nav">
        <material-checkbox [(checked)]="focusIndicatorController.enabled">
          Enable focus indicator
        </material-checkbox>
      </div>
    </header>
    <router-outlet [routes]="routes"></router-outlet>
  </div>
</material-content>
