<!DOCTYPE html>

<html dir="{{direction}}" lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{galleryTitle}}</title>
    <link rel="stylesheet" type="text/css" href="style.scss.css" />
    <link rel="stylesheet" type="text/css" href="syntax_highlight.scss.css" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto+Mono">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Google+Sans:400,500,700">

    <link rel="icon" type="image/png" sizes="192x192"  href="//gstatic.com/acx/demo/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="//gstatic.com/acx/demo/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="//gstatic.com/acx/demo/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="//gstatic.com/acx/demo/favicon/favicon-16x16.png">
    <script defer src="main.dart.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-26406144-23"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-26406144-23');
    </script>
    <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js">
    </script>
    <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/dart.min.js">
    </script>
    <script type="application/javascript"
            src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/scss.min.js">
    </script>
  </head>
  <body>
    <root></root>
    <script type="application/javascript" src="main.dart.js" defer></script>
  </body>
</html>
