@import 'package:angular_components/css/material/material';

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  color: $mat-grey-900;
  font-family: $mat-font-family;
  font-size: $mat-font-size-body;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;

  @include clearfix();
}
