@import 'package:angular_components/css/material/material';

// The following are syntax highlighting styles for code blocks embeded in
// documentation. The classes are applied to elements by the highlight.js
// library. Heavily inspired by the defualt styles:
// https://github.com/highlightjs/highlight.js/blob/32f4680/src/styles/default.css

.hljs {
  display: block;
  overflow-x: auto;
  background: $mat-grey-50;
}

.hljs,
.hljs-subst {
  color: $mat-grey-800;
}

.hljs-comment {
  color: $mat-red-900;
}

.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold;
}

.hljs-keyword,
.hljs-name {
  color: $mat-blue-800;
}

.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: $mat-green-700;
}

.hljs-title,
.hljs-section {
  color: $mat-green-700;
  font-weight: bold;
}

.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  color: $mat-red-700;
}

.hljs-literal {
  color: $mat-green-700;
}

.hljs-attr,
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  color: $mat-purple-800;
}

.hljs-meta {
  color: $mat-cyan-800;
}

.hljs-meta-string {
  color: $mat-green-700;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
